body {
  position: relative;
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  content: "";
  background-image: url("./img/graphdots-tile.png");
  /* background-image: url("https://www.transparenttextures.com/patterns/absurdity.png"); */
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row{
  margin:0 !important;
}
.page-padding{
  padding-top: 20px;
  padding-bottom: 20px;
}

.anim{
  -webkit-animation-fill-mode: forwards;
}

.text-bold{
  font-weight: bold !important;
}

.text-new-primary{
  color: #9c88ff;
}

.text-gradient-1{
  /* background: -webkit-linear-gradient(#6c5ce7, #9c88ff, #a29bfe, #D6A2E8); */
  background: -webkit-linear-gradient(#6c5ce7,  #D6A2E8);
  /* background: -webkit-radial-gradient(#6c5ce7, #D6A2E8); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.list-style-none{
  list-style: none;
}
.list-style-square{
  list-style: square;
}

.pulseFade{
  animation: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

#MainNavigation{
  position: relative;
}
#MainNavigation ul{
  position: relative;
  list-style-type: none;
}
#MainNavigation ul li{
  position: relative;
  display: inline-block;
  margin: 0 8px;
}
#MainNavigation ul li a{
  font-size: 14px;
  color:#a29bfe;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.8;
  transition: all 0.15s ease-in;
}
#MainNavigation ul li a:hover{
  color:#6c5ce7;
  text-decoration: underline;
  opacity: 1;
  transition: all 0.15s ease-in;
}
#MainNavigation .middot{
  position: relative;
  top: 2px;
}

.page-section{
  margin-top: 40px;
  padding: 20px 40px !important;
}
.page-section > .content{
  font-size: 22px;
  color: #444;
  padding:25px;
  /* min-height: 300px; */
  border-radius: 3px;;
  background-color: #fefefe;
}

.section-header{
  position: relative;
  width:100%;
  margin-bottom: 10px;
  display: block;
}
.section-header > .title{
  color: #9c88ff;
  position: relative;
  text-align: center;
  font-size: 44px;
  font-weight: bold;
  text-transform: uppercase;
  z-index:2;
}

.text-italic{
  font-style: italic;
}

.flag{
  position: relative;
  display: inline-block;
  top:4px;
  margin: auto 4px;
  width:24px;height:24px;
  border-radius: 50%;
}
.flag.flag-jm{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(https://flagcdn.com/jm.svg);
}

.emoji{
  position: relative;
  top: 2px;
  display: inline-block;
  width: 24px;
  height: 1em;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.emoji.emoji-md{
  top: 16px;
  width: 36px;height: 2em;
}
.emoji.emoji-grad{
  background-image: url(./img/graduation-hat-clipart.png);
}
.emoji.emoji-music1{
  background-image: url(./img/quaver.png);
}
.emoji.emoji-tv{
  background-image: url(./img/tv.png);
}
.emoji.emoji-car1{
  background-image: url(./img/speeding.png);
}
.emoji.emoji-stars1{
  background-image: url(./img/stars.png);
}

#portfolio-tabContent{
  padding-top:40px;
}
#PortfolioTab a{
  font-size: 16px;
  font-weight:700;
  background:none !important;
}
#PortfolioTab a:not(.active){
  opacity:0.5;
}
#PortfolioTab a > span{
  padding: 10px;
  border-radius: 7px;
  color:#fff;
  text-transform: uppercase;
  background-color: #b3a2e8;
}
#PortfolioTab a:not(.active) > span{
  box-shadow: none !important;
}
#PortfolioTab a span.fa-stack{
  top: -3px;
  margin-right:7px;
  display:inline-block;
  width:auto;height: auto;
  color:#f3f3f3;
  opacity:0.8;
}
#PortfolioTab a.active span.fa-stack{
  color:#000;
  opacity:0.65;
}

.portfolio-item{
  padding: 10px;
  margin-bottom:50px !important;
  border-bottom: 1px solid #f5f5f5;
  /* background-color:#fafafa; */
}
.portfolio-item-img {
  padding:0 !important;
}
.portfolio-item-img > img{
  position:relative;
  top:50%;
  transform: translateY(-50%);
  display:block;
  width:100%;
  max-width:500px;
  margin: 0 auto;
  border-radius: 7px;
  margin-bottom:40px;
}
.portfolio-item-desc{
  padding:0 !important;
  text-align:center;
  /* background-color:#a29bfe;
  color:#fff;
  padding: 20px 10px 10px 10px; */
}
.portfolio-item-desc > *{
  display:inline-block;
  max-width:500px;
}
.portfolio-item-desc .title{
  display:inline-block;
  text-transform:uppercase;
  /* color:#b3a2e8; */
  /* color:#444; */
  font-weight:700;
}
.portfolio-item-desc .title::after{
  content:"";
  display:block;
  margin: 0 auto 5px auto;
  width:40%;height:2px;
  max-width:40px;
  background-color:#a29bfe;
  opacity:0.5;
}

/** ANIMATIONS **/


@keyframes AnimUpDown-R {
  0%, 100% {transform: translateY(0);}
  50% {transform: translateY(100%);}
}

@keyframes AnimUpDown2-R {
  0% {transform: translateY(0);}
  50% {transform: translateY(30%);}
  100% {transform: translateY(0%);}
}

@keyframes AnimZoom1 {
  0% {transform: scale(1);}
  100% {transform: scale(1.05);}
}

@keyframes BackgroundZoom1 {
  0%, 100% {
    background-size: 100% auto;
    -webkit-background-size: 100%;
  }
  50% {
    background-size: 50% auto;
    -webkit-background-size: 50%;
  }
}

@keyframes RotateClockWise1-R {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(30deg);}
  100% {transform: rotate(0deg);}
}
